<!-- Barra superior -->
<app-navbar></app-navbar>
<!-- Barra navegacion lateral -->
<app-sidenav></app-sidenav>




<div class="form-container">

 
    <form (ngSubmit)="registro_descuento()" [formGroup]="formCreateDescuento">

        <div class="firstGroup">
            <!-- titulo -->
            <mat-form-field appearance="outline">
                <mat-label>Titulo</mat-label>
                <input type="text" matInput formControlName="titulo">
                <mat-error *ngIf="formCreateDescuento
                    .get('titulo')?.errors?.['required']">
                    Titulo obligatario
                </mat-error>
            </mat-form-field>
         
            <!-- descuento -->
            <mat-form-field appearance="outline">
                <mat-label>Descuento %</mat-label>
                <input matInput formControlName="descuento" type="number" min="1" max="100">
                <mat-error *ngIf="formCreateDescuento
                    .get('descuento')?.errors?.['required']">
                    Descuento obligatorio
                </mat-error>
                <mat-error *ngIf="formCreateDescuento
                    .get('descuento')?.errors?.['max']">
                    Recuerda que el descuento maximo es 100%
                </mat-error>
                <mat-error *ngIf="formCreateDescuento
                    .get('descuento')?.errors?.['min']">
                    Recuerda que el descuento minimo es 1%
                </mat-error>
            </mat-form-field>

            <!-- Fecha inicio -->
            <mat-form-field appearance="outline">
                <mat-label>Selecciona un rango de duracion</mat-label>
                <mat-date-range-input [rangePicker]="picker" >
                  <input matStartDate placeholder="Start date" formControlName="fecha_inicio">
                  <input matEndDate placeholder="End date" formControlName="fecha_fin">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
              
            
              
            <!-- banner -->
            <mat-card class="image-card">
                <mat-card-header>
                    <mat-card-subtitle>Selecciona una imagen</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="imgSelect">
                <mat-card-actions>
                    <input type="file" (change)="fileChangeEvent($event)" formControlName="banner">
                </mat-card-actions>
            </mat-card>
            
        </div>

   
        <!-- Boton que hace la petición -->
        <button mat-button type="submit" [disabled]="formCreateDescuento
            .invalid">Crear descuento</button>
    </form>
</div>


  
  

