
/* Añadir un segundo elemento a la tabla
    https://www.youtube.com/watch?v=q0aniMziFHI
*/
*{
    font-size: 14px;
}


table{
    width: 90%;
    height: 90%;
    border: 1px solid red;
}

// color del la fila al pasar por ella.
.mat-row:hover .mat-cell{
    background-color: #EEF0F2;
}


// centra la tabla
.table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

// centra el paginator en el centro de la tabla
.mat-paginator {
    display: flex;
    justify-content: center;
    align-items: center;
}

// tamaño de la tabla
.mat-form-field {
   font-size: 14px;
   width: 300px;
}

// checkbox
::ng-deep .custom-frame {
    & .mat-checkbox-background,
    .mat-checkbox-frame {
        border-radius: 4px;
        width: 20px;
        height: 20px;
        border: 1.5px solid black;
    }
}



//-----------------------Estilos del bucador-----------------

// centra el buscador
.inputSearch{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    height: 39px;
    width: 80%;
    border: 1px solid #C6C6C6;
    border-radius: 5px;
    font-size: 16px;
    outline: transparent;
    margin-bottom: 25px;
    padding-left: 12px;
}

// centra el icono dentro del input
.icon {
    position: absolute;
    margin-top: 10px;
    font-size: 25px;
    color: #949AA2;
    font-size: 22px;
    margin-right: 50px;

}

// placeholder del input
::placeholder{
    color: #949AA2;
}



