
*{
    margin: 0px;
    padding: 0px;
    background-color: red;
}


.container{
    display: flex;
    flex-direction: column;
}

.titulo{
    font-size: 34px;
    font-weight: 700;
}

.secondTitle{
    font-size: 8px;
    color: #1C1C1C;
    letter-spacing: 13px;
    font-weight: bold;
    padding-left: 10px;
}

.separador{
    border: 1px solid #C6C6C6;
}

/*.logo{
    padding-top: 32px;
    padding-left: 27px;
}*/