*{
    font-size: 14px;
}

mat-toolbar{
    background: white;
    border-bottom: 1px solid #C6C6C6;
    min-height: 75px;
}


img{
    width: 116px;
    height: 34px;
}

.menu-container{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: right;
}