
// tamaño de letra de todo el componente
*{
    font-size: 14px;
}

mat-toolbar{
    background: white;
    border: 1px solid #C6C6C6;
    margin-left: 251px;
}

mat-toolbar a{
    color: black;
    text-decoration: none;
    text-indent: 50px;
}

// centra la tabla
.table-container{
    padding-left: 252px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// tamaño de la tabla
table{
    width: calc(100vh - 75px);
}

// centra el paginator
.mat-paginator{
    display: flex;
    justify-content: center;
    align-items: center;
}

// cambia el color del placeholder de los inputs.
::placeholder{
    color: #949AA2;
}

// color del la fila al pasar por ella.
.mat-row:hover .mat-cell{
    background-color: #EEF0F2;
}

// centra el titulo (Productos)
.title{
    text-align: center;
}

// cambia el tamaño de los iconos (funciones)
ion-icon{
    font-size: 20px;
    margin-right: 10px;
}

// centra la barra superior
.barraSuperior{
    display: flex;
    margin-bottom: 24px;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
    position: relative;
}



// estilos del buscador
input{
    height: 39px;
    width: 717px;
    border: 2px solid #C6C6C6;
    border-radius: 5px;
    font-size: 16px;
    outline: transparent;
    padding-left: 45px; // espacio entre el icono del buscador y el placeholder
    background: white;
}


.iconSearch{
    color: #C6C6C6;
    position: absolute;
    left: 14px;
}



