<!-- Barra superior -->
<app-navbar></app-navbar>
<!-- Barra navegacion lateral -->
<app-sidenav></app-sidenav>




<div class="container">
  <!-- Single product -->
 


        <!-- Product gallery -->
        <div class="cs-carousel cs-gallery cs-product-gallery mx-auto" style="max-width: 570px;">            <div _ngcontent-jya-c294 data-carousel-options class="cs-carousel-inner ng-star-inserted">
                <div class="cs-carousel-inner" data-carousel-options=''>
                    <!-- Product gallery item -->
                    <a  *ngFor="let item of data; let indice= index" class="cs-gallery-item" href="{{url + 'obtenerPortada/' + item.imagen}}" data-sub-html='<h6 class="text-light">Gallery image caption #1</h6>'>
                        <img class="rounded" [src]="url + 'obtenerPortada/'+item.imagen" alt="Carousel image">
                        <span class="cs-gallery-caption">Imagen #{{indice+1}}</span>
                    </a>
                </div>

                <!-- Product gallery thumbnails -->
                <div class="cs-thumbnails" id="cs-thumbnails">
                    <button mat-button *ngFor="let item of data; let indice= index"  [attr.data-nav]="indice" >
                    <img [src]="url + 'obtenerPortada/' + item.imagen" alt="Thumbnail">
                    </button>
                </div>
        </div>

            
        

        <div *ngIf="data == null" class="cs-carousel-inner" >
            <a class="cs-gallery-item" Target="_blank" href="{{url + '/obtenerPortada/l7y7MHiyxUvOzQTJaNYmUhiC.webp'}}" >
                <img class="rounded" [src]="url + 'obtenerPortada/l7y7MHiyxUvOzQTJaNYmUhiC.webp'" alt="Carousel image">
            </a>
        </div>

   



     
    



  <div>






    <!-- Galeria de producto -->
   


 
    <!-- Imagen portada producto 
    <div class="image-portada">
        <mat-card>
            <img mat-card-image [src]="url + 'obtenerPortada/' + this.id" class="image-card">
        </mat-card>
    </div> -->

    <!-- Drop zone 
    <mat-card class="card">    
        <mat-card-content class="dropzone">
            <ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label>Arrastre y suelte su imagen</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let i of images" [removable]="true" (removed)="onRemove(i)">
                    <ngx-dropzone-label>{{ i.name }}</ngx-dropzone-label>
                </ngx-dropzone-preview>
                </ngx-dropzone>
        </mat-card-content>
        <mat-card-actions class="accion">
            <button class="btn-subir" mat-button (click)="subir_images()" [disabled]="this.images.length == 0">
                <ion-icon name="cloud-upload-outline"></ion-icon>
                Subir
            </button>
        </mat-card-actions>
    </mat-card>
</div> -->





<div class="container-table">
    <!-- Tabla 
    <table mat-table [dataSource]="data"> -->

        <!-- Img Product 
        <ng-container matColumnDef="imagen">
            <th mat-header-cell *matHeaderCellDef>Imagen</th>
            <td mat-cell *matCellDef="let element">
               <img style="max-width: 50px; max-height: 50px;" mat-card-image [src]="url + 'obtenerPortada/' + element.imagen">
            </td>
        </ng-container>-->

    
        <!-- Function Column 
        <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let element" >
                <ion-icon name="trash-outline" (click)="openDialog(element.imagen, element._id)"></ion-icon>
            </td>
        </ng-container> -->
    
       <!-- <tr mat-header-row *matHeaderRowDef="columnsDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsDisplay;"> 
    </table> -->
    <!-- Paginator 
    <mat-paginator [pageSize]="4" aria-label="Select page of user" class="paginator"></mat-paginator>  -->      
</div>














