.example-card{
    width: 874px;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.otherContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: right;
}


// centra el loader
.container-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 75px);
}



.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 32px 0 #fff, -32px 0 #fff;
    position: relative;
    animation: flash 0.5s ease-out infinite alternate;
  }
  
  @keyframes flash {
    0% {
      background-color: #FFF2;
      box-shadow: 32px 0 #FFF2, -32px 0 black;
    }
    50% {
      background-color: black;
      box-shadow: 32px 0 #FFF2, -32px 0 #FFF2;
    }
    100% {
      background-color: #FFF2;
      box-shadow: 32px 0 black, -32px 0 #FFF2;
    }
  }


  // spinner peticion del login
@keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }
