
<h2 mat-dialog-title>Borrar {{data.titulo}}</h2>
<mat-dialog-content [formGroup]="form">
    <p style="font-size: 13px; color: #737373;">Parra borra el {{data.titulo}} <strong>{{data.nombre}}</strong>, escriba el nombre para confirmar.</p>
    <input formControlName="productName" placeholder="Introduce el nombre del {{data.titulo}}">
    <p type="text" formControlName="valueInput"></p>
</mat-dialog-content>
<div mat-dialog-actions class="container-acciones">
    <button mat-button (click)="onClickNO()">Cancelar</button>
    <button mat-button [disabled]="form.invalid" [mat-dialog-close]="true" class="btn-eliminar">Borrar</button>
</div>
