

.form-container{
    height: calc(100vh - 75px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


button{
    color: black;
    background: white;
    border: 1px solid black;
}

.firstGroup{
    display: flex;
    flex-direction: row;
}

.prueba{
    text-align: right;
}

// espacio entre inputs
mat-form-field{
    margin-right: 12px;
    margin-bottom: 12px;
    text-decoration: none;
}


