




<div class="table-container" tabindex="0">

    <!-- Buscador -->
    <div class="barraSuperior">
            <ion-icon name="search-outline" class="iconSearch"></ion-icon>
            <input class="input" matInput (keyup)="applyFilter($event)" placeholder="Filtrar Marcas" #input>
    </div>

    <!-- Tabla -->
    <table mat-table [dataSource]="data">
    
        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Marca</th>
            <td mat-cell *matCellDef="let element">{{element.nombre}} <br><strong>{{element.sku}}</strong></td>
        </ng-container>

        <!-- Function Column -->
        <ng-container matColumnDef="funciones" class="funciones">
            <th mat-header-cell *matHeaderCellDef>Funciones</th>
            <td mat-cell *matCellDef="let element" >
                <ion-icon name="trash-outline" (click)="openDialog(element.nombre, element._id)"></ion-icon>
            </td>
        </ng-container>
    
        
        <tr mat-header-row *matHeaderRowDef="columnsDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsDisplay;">
    
        
        <!-- Cuando no hay ningun resultado, agrega una fifla con ese mensaje -->
        <tr *matNoDataRow>
            <td class="mat-cell" colspan="4">No se ha encontrado ninguna marca "{{input.value}}"</td>
        </tr>
        
    </table>


    <!-- Paginator -->
    <mat-paginator [pageSize]="10" aria-label="Select page of user" class="paginator"></mat-paginator>  
</div>


