<div class="container">
    <form class="login" [formGroup]="formValidator">
        <div class="logo">
            <img src="../../assets/logo_434x126.svg">
        </div>
       
        <hr class="separator">
        <h1 class="dashboard">DASHBOARD</h1>

        <div class="form">
           <section>
                <app-login-error *ngIf="isError$ | async" [error]="isError$ | async"></app-login-error>
            </section>
            <span style="margin-top: 23px;"></span>
            <input type="email" placeholder="Email Address" formControlName="email">
            <span style="margin-top: 11px;"></span>
            <input placeholder="Password" type="password" formControlName="password">
            <span style="margin-top: 11px;"></span>

            <button class="button" mat-button (click)="login()" [class.spinner]="isLoading$ | async" [disabled]="isLoading$ | async">Login</button>
            <span style="margin-top: 11px;"></span>
        </div>
        
    </form>
</div>

