<div class="container">
    <form [formGroup]="formValidator">
        <h1 class="mainTitle">cream</h1>
        <h5 class="title">KICKS</h5>
        <hr class="separator">
        <h1 class="dashboard">DASHBOARD</h1>
        <section>
            <app-login-error *ngIf="error" [error]="error"></app-login-error>
        </section>
        <span style="margin-top: 23px;"></span>
        <input type="email" placeholder="Email Address" formControlName="email">
        <span style="margin-top: 11px;"></span>
        <input placeholder="Password" type="password" formControlName="password">
        <span style="margin-top: 11px;"></span>
        <button class="button" mat-button (click)="login()">Login</button>
        <span style="margin-top: 11px;"></span>
    </form>
</div>

