<!-- Barra superior -->
<app-navbar></app-navbar>
<!-- Barra navegacion lateral -->
<app-sidenav></app-sidenav>



<!-- Se cargar cuando no se ha encontrado ningun cupon -->
<ng-container *ngIf="cupon == undefined">
    <h1 style="text-align: center;">Cupon no encontrado</h1>
</ng-container>

<!-- Si hay cupon lo enseño -->
<div class="form-container" *ngIf="cupon != undefined">
    <form (ngSubmit)="updateCupon()" [formGroup]="formUpdateCupon
">

        <div class="firstGroup">
            <!-- Codigo de cupon -->
            <mat-form-field appearance="outline">
                <mat-label>Código de cupón</mat-label>
                <input matInput formControlName="codigo">
                <mat-error *ngIf="formUpdateCupon

                    .get('codigo')?.touched && formUpdateCupon

                    .get('codigo')?.errors?.['required']">
                    Código obligatario
                    </mat-error>
            </mat-form-field>
         
            <!-- Tipo -->
            <mat-form-field appearance="outline">
                <mat-label>Tipo</mat-label>
                <mat-select formControlName="tipo">
                    <mat-option value="porcentaje">Porcentaje</mat-option>
                    <mat-option value="valorFijo">Valor fijo</mat-option>
                </mat-select>
                <mat-error *ngIf="formUpdateCupon

                    .get('tipo')?.touched && formUpdateCupon

                    .get('tipo')?.errors?.['required']">
                    Tipo obligatorio
                    </mat-error>
            </mat-form-field>
        </div>

        <!-- Valor -->
        <mat-form-field appearance="outline">
            <mat-label>Valor</mat-label>
            <input matInput formControlName="valor" type="number" min="1" max="100">
            <mat-error *ngIf="formUpdateCupon

                .get('valor')?.touched && formUpdateCupon

                .get('valor')?.errors?.['required']">
                Valor obligatorio
            </mat-error>
            <mat-error *ngIf="formUpdateCupon

                .get('valor')?.touched && formUpdateCupon

                .get('valor')?.errors?.['min']">
                Recuerda el valor minimo es 1
            </mat-error>
            <mat-error *ngIf="formUpdateCupon

                .get('valor')?.touched && formUpdateCupon

                .get('valor')?.errors?.['max']">
                Recuerda el valor maximo es 100
            </mat-error>
        </mat-form-field>


        <!-- Limite -->
        <mat-form-field appearance="outline">
            <mat-label>Limite</mat-label>
            <input matInput formControlName="limite" type="number" min="1">
            <mat-error *ngIf="formUpdateCupon

                .get('limite')?.touched && formUpdateCupon

                .get('limite')?.errors?.['required']">
                Limite obligatorio
            </mat-error>
            <mat-error *ngIf="formUpdateCupon

                .get('limite')?.touched && formUpdateCupon

                .get('limite')?.errors?.['min']">
                Recuerda el valor minimo es 1
            </mat-error>
        </mat-form-field>
   
        <!-- Boton que hace la petición -->
        <button mat-button type="submit" [disabled]="formUpdateCupon

            .invalid">Actualizar cupon</button>
    </form>
</div>


  
  

