
*{
    font-size: 16px;
}

.container{
    width: 460px;
    height: 35px;
    border-radius: 5px;
    display: grid;
    place-items: center;
    background-color: #F7D5D6;
    border: 1px solid #C90F10;
}

.message{
    color: #B30707;
    font-size: 14px;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    *{
        font-size: 14px;
    }
    
    .container{
        width: 318px;
        height: 31px;
    }

}

// 258*21 + padding 8 en cada lado

